.footer {
    background: #0D0D0D;
    color: #C4CBF2; 
    padding: 20px;
    text-align: center;
    font-size: 24px;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-category {
        flex: 1;
        min-width: 200px; 
    }

    .footer-category h3 {
        color: #BF7C41;
        margin-bottom: 10px;
    }

    .footer-category p,
    .footer-category a {
        color: #C4CBF2;
        text-decoration: none;
        font-size: 20px;
    }

    .footer-category a {
        display: block;
        margin: 5px 0;
    }

    .footer-category a:hover {
        color: #BF7C41;
    }

    .footer-category .social-media a {
        color: #C4CBF2;
        text-decoration: none;
        margin: 0 10px;
        font-size: 24px;
    }

    .footer-category .social-media a:hover {
        color: #BF7C41;
    }

    .newsletter {
        margin-top: 20px;
    }

    .newsletter form p,
    .newsletter form span {
        font-size: 15px;
    }

    @media (max-width: 768px) {
        .footer-container {
            flex-direction: column;
            align-items: center;
        }

        .footer-category {
            width: 100%;
            text-align: center;
        }
    }