/* GAMES */
#gamesgrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0px;
}

#gamesgrid .game
{
    margin: 5px auto;
    width: 170px;
    height: 230px;
    background-color: #E2E1E0;
    border-radius: 5px;
    text-align: center;
    transition: transform .2s;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, .5);
}

#gamesgrid .game a img
{
    height: 170px;
    width: 170px;
    border-radius: 5px;
}

#gamesgrid h5{
    font-size: 16px;
    text-transform: uppercase;
    margin: 5px 0px;
}

#gamesgrid .game:hover{
    transform: scale(1.1);
}

.platforms_icons {
    display: flex;
}

.platforms_icons img {
    width: 20px;
    margin: auto;
}

#section_games a button{
    width: 200px;
    margin: auto;
}

/* CONTACT */