.ytb_trailer {
    border-top: solid #430439 2px;
    padding-top: 20px;
    margin-top: 20px;
}

#carousel {
    width: 40%;
    padding: 0% 10% 2%;
}

.carousel-item{
    padding : 2% 10%;
    cursor: pointer;
}

#popUp {
    position: absolute;
    z-index: 2;
    display: none;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

    #popUp img {
        display: block;
        width: 95%;
        height: 95%;
        margin: auto;
        border: solid 10px #1e0617;
        -webkit-box-shadow: 0 0 1000px rgba(0,0,0,0.7);
        -moz-box-shadow: 0 0 1000px rgba(0,0,0,0.7);
        box-shadow: 0 0 1000px rgba(0,0,0,0.7)
    }

@media(max-width:800px) {
    #carousel {
        width: 80%;
        padding: 0% 5% 2%;
    }

    #popUp {
        top: 200px;
        left: 30%;
        transform: translateX(-21%);
    }
}

.popupContainer{
    position: relative;
}

.description-list {
    list-style-position: inside;
    list-style-image: none;
    list-style: none;
    color: #e2cbbd;
}