/* Base size */

#mainContent {
    background-image: url(../images/background_sections2.png);
    background-size: cover;
    border: 5px solid #4A3159;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

#categorySection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.container {
    margin: 10px auto;
    overflow: hidden;
    align-self: center;
}

.filterDiv {
    float: left;
    background-image: url(../images/categoryBtn.png);
    background-size: cover;
    color: #ffffff;
    line-height: 100px;
    text-align: center;
    margin: 5px;
    padding: 0px 5px 0px 5px;
    display: none;
    width: 125px;
    border: 3px solid black;
    
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 10px 5px auto;
    background-color: #f1f1f1;
    cursor: pointer;
}

    .btn:hover {
        background-color: #ddd;
    }

    .btn.active {
        background-color: #666;
        color: white;
    }

@media only screen and (min-width: 350px) /* Phone size */
{

}

@media only screen and (min-width: 530px) /* Tablet size 2 */
{

}

@media only screen and (min-width: 650px) /* Tablet size 2 */
{

}

@media only screen and (min-width: 870px) /* Computer size */
{

}

@media only screen and (min-width: 1300px) /* Computer size */
{

}