/* Base size */
header {
    display: flex;
    flex-direction: column;
    background-color: #593b6a;
}

/* Nav links */
#navDiv {
    width: 100%;
    background-color: #442D51;
}

#navHeader {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    width: 20%;
}

.navDivHeader {
    flex: 1;
    padding-top: 10px;
}

.linkNavHeader {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.linkNavHeader:after, .btn-2:before 
{
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.linkNavHeader:hover:after, .btn-2:hover:before 
{
    backface-visibility: hidden;
    border-color: antiquewhite;
    transition: width 350ms ease-in-out;
    width: 70%;
}

.linkNavHeader:hover:before 
{
    bottom: auto;
    top: 0;
    width: 70%;
}

/* Banners */
#img-big {
    display: none;
    padding-top: 5px;
    padding-bottom: 10px;
}

#img-small {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 350px) /* Phone size */
{
    #img-big {
        display: block;
        width: 50%;
        justify-self: center;
        margin: auto;
        margin-top: 5px;
    }

    #img-small {
        display: none;
    }

    .navDivHeader {
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 530px) /* Tablet size 2 */
{
    #img-big{
        width: 40%;
    }

    #navHeader {
        width: 50%;
    }
}


@media only screen and (min-width: 650px) /* Tablet size 2 */
{
    #img-big{
        width: 30%;
    }
}

@media only screen and (min-width: 870px) /* Computer size */
{

}

@media only screen and (min-width: 1300px) /* Computer size */
{
    #navHeader {
        width: 40%;
    }
}