header {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.menu {
    margin: auto;
    background-color: #513660;
    width: 100%;
    position: fixed;
    height: 80px;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    z-index: 10;
}

.logo {
    margin: auto;
    margin: 8px 0px 8px 12px;
    width: 5%;
}

    .logo img {
        width: 100%;
    }

.menuContent {
    height: 80px;
}

    .menuContent ul {
        list-style: none;
        list-style-position: inside;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

        .menuContent ul li {
            padding: 10px;
            margin: 0px 2px;
            text-transform: uppercase;
            font-size: 20px;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
        }

            .menuContent ul li a, .menuContent ul li a:visited {
                text-decoration: none;
                color: white;
            }

                .menuContent ul li a:hover {
                    text-decoration: none;
                    color: white;
                }

.bannerContainer {
    position: relative;
    height: 680px;
    overflow: hidden;
}

.bannerContentImg {
    height: 100%;
    width: 100%;
}

    .bannerContentImg img {
        position: absolute;
        z-index: -2;
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }

.bannerContentTxt {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 3px #400255;
    padding: 15px 60px;
}

    .bannerContentTxt hr {
        color: black;
        border-color: black;
        background-color: black;
        opacity: 0.7;
        width: 50%;
        margin: auto;
        margin-top: 10px;
    }

    .bannerContentTxt h5 {
        font-family: 'Ubuntu', sans-serif;
        margin-top: 8px;
        font-size: 16px;
    }

    .bannerContentTxt img {
        width: 60%;
    }

.fullOpacity img {
    opacity: 1;
}

@media only screen and (min-width: 700px){
    .menu {
        width: 90%;
        border-bottom-left-radius: 55%;
        border-bottom-right-radius: 55%;
    }

    .menuContent ul li {
        margin: 0px 10px;
    }
}