/* Base size */
main{
    display: flex;
    flex-wrap: wrap;
}

#mainContent {
    width: 90%;
    margin: 10px auto;
    padding: 2px;
    border: 3px solid #593b6a;
}

#latestReleased{
    
}

@media only screen and (min-width: 350px) /* Phone size */
{

}

@media only screen and (min-width: 530px) /* Tablet size 2 */
{

}

@media only screen and (min-width: 650px) /* Tablet size 2 */
{

}

@media only screen and (min-width: 870px) /* Computer size */
{

}

@media only screen and (min-width: 1300px) /* Computer size */
{
    #mainContent {
        width: 70%;
        margin: 15px auto;
        border: 5px solid #593b6a;
    }

    #secondaryContent {
        width: 25%;
        margin: 15px auto;
        border: 5px solid #593b6a;
    }
}