/* Base size */
main{
    display: flex;
    flex-wrap: wrap;
}

#mainContent {
    width: 90%;
    margin: 10px auto;
    padding: 2px;
    font-size: 19px;
}

#twitterContent {
    display: none;
}

#latestReleaseDiv{
    position: relative;
}

.bannerLastReleased {
    max-width: 100%;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

#secondaryPart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#aboutTheana, #socialmedias {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    background-size: cover;
    border: 5px solid #4A3159;
    border-radius: 10px;
}
    #socialmedias h1, #aboutTheana h1 {
        margin: 2px auto;
        padding: 0px 0px 3px 0px;
        font-size: 22px;
        font-weight: bold;
        color: black;
    }

#aboutTheana {
    background-image: url(../images/background_sections2.png)
}

#aboutUs{
    padding: 0px 10px 10px 10px;
    text-align: left;
}

em {
    font-weight: bold;
}

#socialmedias {
    background-image: url(../images/background_sections_noTitle.png);
    align-self: center;
}



#findUs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 3px auto;
}

.sm_icon {
    width: 40px;
    height: 40px;
    margin: 5px auto;
}

#buttonBig{
    display: none;
}

#buttonSmall{
    display: block;
}

#emailBig{
    display: none;
}

#emailSmall{
    display: block;
}

p a{
    color: black;
}

@media only screen and (min-width: 530px) /* Tablet size 1 */
{
    #mainContent{
        width: 85%;
        margin: 15px auto;
    }

    #socialmedias {
        width: 50%;
    }

        #socialmedias h1, #aboutTheana h1 {
            margin: 5px auto;
        }

        #kofiWidget{
            padding: 5px 0px 10px 0px;
        }

    #buttonBig {
        display: block;
    }

    #buttonSmall {
        display: none;
    }

    #emailBig {
        display: block;
    }

    #emailSmall {
        display: none;
    }
}

@media only screen and (min-width: 650px) /* Tablet size 2 */
{
    #mainContent {
        width: 80%;
        margin: 20px auto;
    }

    #aboutTheana {
        width: 60%;
    }

    #socialmedias {
        width: 35%;
        background-image: url(../images/background_sections.png);
    }

        #socialmedias h1 {
            color: #FFFFED;
            font-weight: normal;
            margin: 0px;
            padding: 2px 0px 2px 0px;
        }
}

@media only screen and (min-width: 870px) /* Computer size */
{
    #mainContent {
        width: 65%;
        margin: 10px auto auto 20px;
    }

    #twitterContent {
        display: block;
        width: 25%;
        margin: 10px 20px auto;
    }

    #socialmedias h1, #aboutTheana h1 {
        padding: 3px 0px 7px 0px;
    }
}

@media only screen and (min-width: 1300px) /* Computer size */
{
    #mainContent {
        width: 75%;
        margin: 15px auto auto 15px;
    }

    #twitterContent {
        width: 20%;
        margin: 15px 15px auto;
    }

    #aboutTheana {
        width: 70%;
    }

    #socialmedias {
        width: 25%;
    }

        #socialmedias h1, #aboutTheana h1 {
            padding: 5px 0px 10px 0px;
        }
}