/* Base size */
* 
{
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #F0F0F0;
}

@media only screen and (min-width: 350px) /* Phone size */
{

}

@media only screen and (min-width: 530px) /* Tablet size 2 */
{

}

@media only screen and (min-width: 650px) /* Tablet size 2 */
{

}

@media only screen and (min-width: 870px) /* Computer size */
{

}

@media only screen and (min-width: 1300px) /* Computer size */
{

}