/* Base size */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Urbanist', sans-serif;
}

html {
    background-color: #593b6a;
}

main {
    background-image: url(../images/background_main.png);
    background-repeat: repeat;
}

.email{
    color: black;
}

#aboutTheana a:visited{
    color: black;
}

@media only screen and (min-width: 350px) /* Phone size */
{

}

@media only screen and (min-width: 530px) /* Tablet size 2 */
{

}

@media only screen and (min-width: 650px) /* Tablet size 2 */
{

}

@media only screen and (min-width: 870px) /* Computer size */
{

}

@media only screen and (min-width: 1300px) /* Computer size */
{

}