/* Base size */
main {
    display: flex;
    flex-wrap: wrap;
}

#mainContent {
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    font-size: 19px;
    display: flex;
    flex-wrap: wrap;
}

#mainPresentation {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
}

#titleLogo{
    display: flex;
}

#titleLogo img{
    width: 50%;
    align-self: center;
    margin: auto;
}

#presentationText{
    margin: 5px 10px auto;
}

ul{
    margin: 0px 120px;
}

ul li{
    list-style-position: inside;
}

#screenshots {
    width: 30%;
    margin: 15px auto;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    border: 2px solid black;
}

#screenshots a{
    margin: 5px auto;
}

#screenshots a img {
    width: 100%;
    border-radius: 10px;
    border: 5px solid #4A3159;
}

@media only screen and (min-width: 350px) /* Phone size */
{

}

@media only screen and (min-width: 530px) /* Tablet size 2 */
{

}

@media only screen and (min-width: 650px) /* Tablet size 2 */
{

}

@media only screen and (min-width: 870px) /* Computer size */
{

}

@media only screen and (min-width: 1300px) /* Computer size */
{
}