/* Base size */
#img-big {
    display: none;
}

#img-small {
    display: block;
    width: 50%;
    margin: auto;
}

@media only screen and (min-width: 350px) /* Phone size */
{
    #img-big {
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #img-small {
        display: none;
    }

    .navDivHeader {
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 530px) /* Tablet size 2 */
{
    #navHeader{
        width: 70%;
    }
}


@media only screen and (min-width: 650px) /* Tablet size 2 */
{
    #img-big {
        width: 70%;
    }
}

@media only screen and (min-width: 870px) /* Computer size */
{
    #img-big{
        width: 50%;
    }
}

@media only screen and (min-width: 1300px) /* Computer size */
{
    #img-big {
        width: 40%;
    }

    #navHeader{
        width: 50%;
    }
}