html {
    background-color: #593b6a;
}

header {
    height: 60%;
    display: flex;
    flex-direction: column;
}

body{

}

#bannerHeader{
    margin-bottom: 25px;
}

#separatorDiv{
    margin: auto;
}

/* Navigation header */

#navHeader{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.linkNavHeader{
    color: black;
    font-family: Arial;
    text-decoration: none;
}

.navDivHeader {
    flex: 1;
    padding-top: 10px;
}