/* Computer main size */
#img-big {
    display: block;
    width: 100%;
}

#img-small {
    display: none;
}


@media only screen (min-width: 800px) /* Tablet size */
{

}

@media only screen (min-width: 400px) /* Phone size */
{
    #img-big {
        display: none;
    }

    #img-small {
        width: 100%;
    }
}