html {
    background-color: #593b6a;
}

header {
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}

body{

}

#navHeader{
    display:flex;
}