#fairyQuest {
    background-image: url(../images/thumbnails/test.png);
    background-size: cover;
}

#captiny {
    background-image: url(../images/thumbnails/test.png);
    background-size: cover;
}

#makeItright {
    background-image: url(../images/thumbnails/test.png);
    background-size: cover;
}

#leadTheway {
    background-image: url(../images/thumbnails/test.png);
    background-size: cover;
}

#hideAndseek {
    background-image: url(../images/thumbnails/test.png);
    background-size: cover;
}

#coeurDiamant {
    background-image: url(../images/thumbnails/test.png);
    background-size: cover;
}