/* Game thumbnails */
.FairyQuest {
    background-image: url(../medias/games/thumbnails/fairyQuest.png);
    background-size: cover;
}

.hideAndSeek {
    background-image: url(../medias/games/thumbnails/hideandseek.png);
    background-size: cover;
}

.captiny {
    background-image: url(../medias/games/thumbnails/captiny.png);
    background-size: cover;
}

.LeadTheWay {
    background-image: url(../medias/games/thumbnails/leadtheway.png);
    background-size: cover;
}

.LeadTheWay2 {
    background-image: url(../medias/games/thumbnails/leadtheway2.png);
    background-size: cover;
}

.SnakeCalculator {
    background-image: url(../medias/games/thumbnails/snakecalculator.png);
    background-size: cover;
}

.ClassicSnake {
    background-image: url(../medias/games/thumbnails/classicsnake.png);
    background-size: cover;
}

.MakeItRight {
    background-image: url(../medias/games/thumbnails/makeitright.png);
    background-size: cover;
}

.CoeurDiamant {
    background-image: url(../medias/games/thumbnails/coeurdiamant.png);
    background-size: cover;
}

.SpaceChicken {
    background-image: url(../medias/games/thumbnails/spacechicken.png);
    background-size: cover;
}

.CrazyFroggy {
    background-image: url(../medias/games/thumbnails/crazyfroggy.png);
    background-size: cover;
}


/* Asset thumbnails */
.hideAndSeekPlushies {
    background-image: url(../medias/assets/thumbnails/hideandseekPlushies.png);
    background-size: cover;
}

.spaceChickenAstronaut {
    background-image: url(../medias/assets/thumbnails/spacechickenAstronaut.png);
    background-size: cover;
}

.spaceChickenBlocks {
    background-image: url(../medias/assets/thumbnails/spacechickenBlocks.png);
    background-size: cover;
}

.abstractBackgrounds {
    background-image: url(../medias/assets/thumbnails/abstractBackgrounds.png);
    background-size: cover;
}

.teamHandwriting {
    background-image: url(../medias/assets/thumbnails/teamHandwriting.png);
    background-size: cover;
}