#fairyQuest {
    background-image: url(../images/thumbnails/fairyQuest.png);
    background-size: cover;
}

#captiny {
    background-image: url(../images/thumbnails/captiny.png);
    background-size: cover;
}

#makeItRight {
    background-image: url(../images/thumbnails/makeitright.png);
    background-size: cover;
}

#leadTheway {
    background-image: url(../images/thumbnails/leadtheway.png);
    background-size: cover;
}

#hideAndseek {
    background-image: url(../images/thumbnails/hideandseek.png);
    background-size: cover;
}

#coeurDiamant {
    background-image: url(../images/thumbnails/coeurdiamant.png);
    background-size: cover;
}

#snakeCalculator {
    background-image: url(../images/thumbnails/snakecalculator.png);
    background-size: cover;
}