#webGL {
    display: none;
}

#screenshots{
    display: block;
}

#screenshotsMobile {
    display: block;
}

@media only screen and (min-width: 1300px)
{
    #webGL {
        display: block;
        margin: 15px auto;
    }

    #unity-canvas {
        border: 3.5px solid #4A3159;
    }

    #screenshots {
        display: none;
    }

    #screenshotsMobile {
        display: none;
    }
}